/* Change the left Questions into kokopops colors */
.container-row {
    padding-left:30%;
    padding-right:15%;
    display:flex;
}

.about-info {
    h1,
    #about-title-page {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    h2,
    #about-subtitle {
        text-align: left;
        font-variant: small-caps;
    }
    p,
    #about-answers {
        padding-left: 150px;
        text-align: right;
    }
}