/* Change the left Questions into kokopops colors */
h1,
#title-page {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#subtitle {
    padding-left:50px;
    text-align: left;
    font-variant: small-caps;
}

#answers {
    padding-right: 50px;
    padding-left: 150px;
    text-align: right;
}