
.textWithBlurredBg{
    width:175px;
    height:175px;
    display:inline-block;
    position:relative;
    transition:.2s;
    margin:4px;
    padding-left:4px;
  }
  
  .textWithBlurredBg img{
    width:175px;
    height:175px;
    transition:.3s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:60%;
    width:100%;
    text-align:left;
    color:#fff;
    opacity:0;
    transition:.3s;
    font-size: 20px;
    padding-left:10px;
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

  h2,
  #company-subtitle {
    color:#D3E8FD;
    text-shadow: 1px 1px #8BADCE
  }