.container-row {
    padding-left:30%;
    padding-right:15%;
    display:flex;
}
.member-description-box {
    max-width:50%;

    h2,
    #member-name {
        max-width: 50%;
        padding-left: 20%;
        padding-top:35px;
        font-size:35px;
    }

    p, 
    #position-name {
        max-width: 50%;
        padding-left:20%;
        font-size:20px;
    }
}
.member-description,
#image-member-profile img {
    float:right;
    width: 300px;
    height: 500px;
    position:absolute;
}